@model VeritabanıKatman.tbl_Kullanici

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aktifMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aktifMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Calisan.tamAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Calisan.tamAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_KullaniciTipi.kullaniciTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_KullaniciTipi.kullaniciTipi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
