@model VeritabanıKatman.tbl_Satici

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_Satici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iletisimNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Kullanici.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Kullanici.kullaniciAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
